
@{
    ViewBag.Title = "Test";
}
@section scripts {
    <script src="~/Scripts/Application/Logic5.js"></script>

    <script>
    $(function () {
        initSijainninLuonti();
    })
    </script>
}
<h2>Sijainti</h2>

<p>
    <input id="Koodi" code="text" placeholder="koodi" />
</p>
<p>
    <input id="Nimi" code="text" placeholder="nimi" />
<p>
    <input id="Osoite" code="text" placeholder="osoite" />
</p>

<button id="AsetaButton5">
    Aseta
</button>


