
@{
    ViewBag.Title = "Saunanluonti";
}
@section scripts {
    <script src="~/Scripts/Application/Logic4.js"></script>

    <script>
    $(function () {
        initSaunanLuonti();
    })
    </script>
}
<h2>Saunan Luonti</h2>

<p>
    <input id="Koodi" code="text" placeholder="koodi" />
</p>
<p>
    <input id="Tyyppi" code="text" placeholder="tyyppi" />
<p>
    <input id="Tila" code="text" placeholder="tila" />
</p>
<p>
    <input id="Lampotila" code="text" placeholder="lampotila" />
</p>

<button id="AsetaButton4" class="btn btn-primary">
    Aseta
</button>

<p><a class="btn btn-danger" href="http://localhost:1865/Home/Index">Takaisin &raquo;</a></p>


