
@{
    ViewBag.Title = "Test";
}
@section scripts {
    <script src="~/Scripts/Application/Logic4.js"></script>

    <script>
    $(function () {
        initSaunanLuonti();
    })
    </script>
}
<h2>Saunan Luonti</h2>

<p>
    <input id="Koodi" code="text" placeholder="koodi" />
</p>
<p>
    <input id="Tyyppi" code="text" placeholder="tyyppi" />
<p>
    <input id="Tila" code="text" placeholder="tila" />
</p>
<p>
    <input id="Lampotila" code="text" placeholder="lampotila" />
</p>
</p>
<button id="AsetaButton4">
    Aseta
</button>


