
@{
    ViewBag.Title = "Test";
}
@section scripts {
    <script src="~/Scripts/Application/Logic3.js"></script>

    <script>
    $(function () {
        initValonLuonti();
    })
    </script>
}
<h2>Test Json Interface</h2>

<p>
    <input id="Koodi" code="text" placeholder="koodi" />
</p>
<p>
    <input id="Tyyppi" code="text" placeholder="tyyppi" />
<p>
    <input id="Tila" code="text" placeholder="tila" />
</p>
<p>
    <input id="Valonmaara" code="text" placeholder="valonmaara" />
</p>
</p>
<button id="AsetaButton3">
    Aseta
</button>


