@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1>Älytalo</h1>   
</div>
<p><a class="btn btn-primary" href="http://localhost:1865/Valo/test">Valon asetus sijaintiin &raquo;</a></p>
<p><a class="btn btn-success" href="http://localhost:1865/Sauna/Test">Saunan asetus sijaintiin &raquo;</a></p>
<p><a class="btn btn-danger" href="http://localhost:1865/SaunanLuonti/Test">Saunan luonti &raquo;</a></p>
<p><a class="btn btn-primary" href="http://localhost:1865/ValonLuonti/Test">Valon luonti &raquo;</a></p>
<p><a class="btn btn-success" href="http://localhost:1865/SijainninLuonti/Sijainti">Sijainnin luonti &raquo;</a></p>
<p><a class="btn btn-danger" href="http://localhost:1865/Home/Index">Takaisin &raquo;</a></p>
