@{
    ViewBag.Title = "SaunaSijaintiin";
}
@section scripts {
    <script src="~/Scripts/Application/Logic2.js"></script>

    <script>
    $(function () {
        initSaunaAsetus();
    })
    </script>
}

<h2>Saunan asetus sijaintiin</h2>
<p><a class="btn btn-success" href="http://localhost:1865/Sauna/List">Saunat &raquo;</a></p>
<p><a class="btn btn-success" href="http://localhost:1865/SijainninLuonti/List">Sijainnit &raquo;</a></p>
<p>
    <input id="SijaintiKoodi2" code="text" placeholder="sijainti koodi" />
</p>
<p>
    <input id="SaunaKoodi" code="text" placeholder="sauna koodi" />
</p>

<button id="AsetaSaunaButton" class="btn btn-primary">
    Aseta
</button>

<p><a class="btn btn-danger" href="http://localhost:1865/Home/Index">Takaisin &raquo;</a></p>
